[submodule "vim/autoload"]
	path = vim/autoload
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/powerline/powerline.git
